ai.onnx;11;Conv
ai.onnx;13;Cast,Gather,Gemm,ReduceSum,Softmax,SoftmaxCrossEntropyLoss,Squeeze,Sum,Transpose,Unsqueeze
ai.onnx;14;Relu,Reshape
ai.onnx;15;BatchNormalization,Shape
com.microsoft;1;AdamWOptimizer,BatchNormInternal,BatchNormalizationGrad,FusedGemm,InPlaceAccumulatorV2,ReluGrad,SoftmaxCrossEntropyLossGrad,SoftmaxGrad_13