ai.onnx;1;Not
ai.onnx;7;And
ai.onnx;9;Where
ai.onnx;13;Cast,Concat,Equal,Expand,Gemm,Greater,Log,MatMul,Max,Neg,ReduceMean,ReduceSum,Size,Slice,Squeeze,Sum,Transpose,Unsqueeze
ai.onnx;14;Add,Div,Mul,Reshape,Sub
ai.onnx;15;BatchNormalization,Shape
com.microsoft;1;AdamWOptimizer,BatchNormInternal,BatchNormalizationGrad,ConcatTraining,FusedGemm,InPlaceAccumulatorV2,Scale,SigmoidGrad,SplitTraining,TanhGrad